
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap');

  :root{
    --primary:#BE123C;
    --headerText: 30px;
  }

  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  font-family: 'DM Sans', sans-serif;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
/*MOVIE CARDS */
.movie-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    list-style-type: none;
    place-items: center;
    row-gap: 50px;
    margin-top: 30px;
  }
  .movies{
    /* background: red; */
    width: 250px;
    height: 490px;
    margin-top: 30px;
  }
  .movies img{
    width: inherit;
    height: 270pxs;
  }
  .movies p{
    font-size: 10px;
    opacity: 0.5;
    padding-bottom: 10px;
  }
  .movies h6{
    padding-bottom: 8px;
    font-size: 18px;
  }
  /* HERO SECTION */
.poster{
  width: 100%;
  height: auto;
  position: relative;
  /* background-image: url(./components/images/Poster.png); */
}
/* LOGO */
.logo, .searchbar, .navbar, .signin{
  color: white;
  font-family: 'DM Sans', sans-serif;
  margin-top: 25px;
}
.logo img{
  width: 50px;
  height: 50px;
}
/* SEARCHBAR */
.searchbar input{
  width: 525px;
  height: 36px;
  background: transparent;
  outline: none;
  border-radius: 6px;
  border: 2px solid white;
  padding: 10px;
  color: white;
}
.searchbar input::placeholder{
  color: white;
  opacity: 0.5;
}
.searchbar svg{
  width: 16px;
  height: 16px;
  position: relative;
  right: 30px;
  top: 5px;
}
/* NAVBAR */
.signin a:hover{
  border-bottom: 3px solid var(--primary);
  transition: 1s ease-in-out;
}
/* HERO SECTION */
.hero-text{
  color: white;
  width: 404px;
  height: 285px;
  margin: 55px 120px;

}
.hero{
  width: 100%;
  height: 500px;
}
/* BERRIES AND IMDB LOGO */
.movie-name, .rating, .movie-desc{
  margin-left: 100px; 
  color: white;
  font-weight: bolder;
}
.movie-name{
  font-size: var(--headerText);
  text-align: left;
  margin-top: 100px;
}
/* RATING */
.rating, .votes{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.rating p{
  font-size: 10px;
  padding: 5px;
  opacity: 0.7;
}
.first, .second, .imbd-logo, .berries{
  display: flex;
  gap: 5px;
}
.votes p{
  font-size: 10px;
  padding: 5px;
  opacity: 0.7;
}
/* MOVIE DESCRIPTION */
.movie-desc{
  width: 600px;
  /* text-wrap: wrap; */
  height: 72px;
  text-align: left;
}
.movie-desc p{
  font-size: 14px;
  padding: 15px 0 50px 0 ;
}
/* HERO BUTTON */
.button{
  /* margin-top: 30px; */
  position: relative;
  top: -100px;
  margin-left: 100px;
}
.btn{
  width: 169px;
  height: 36px;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 6px;
}
.btn a{
  text-decoration: none;
  color: white;
  font-size: 10px;
  position: relative;
  top: -5px;
  right: 15px; 
}
.btn img{
  margin: 0 23px 0 0;
}
/* PAGINATION */
.pagination{
  color: white;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pagination button{
  background: transparent;
  color: white;
  border: none;
  
}

/* BODY SECTION */
.body-container{
  width: 95%;
  margin: auto;
  margin-top: 60px;
}
.options{
  width: 93%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px auto 0 auto;
}
.options a{
  padding: 5px;
  text-decoration: none;
  color: var(--primary);
  font-size: 15px;
}

/* FOOTER */
.footer{
  margin-top: 70px;
}
.copywright{
  font-size: 14px;
  opacity: 0.6;
  padding-bottom: 50px;
}
.links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  font-size: 14px;
  padding: 25px;
  color: white;
}
.links a{
  text-decoration: none;
  color: #1b1c1e;
}
.icons a{
  margin-left: 20px;
  font-size: 20px;
  text-decoration: none;
  color: #1b1c1e;
  
}
